{% extends 'base.html.twig' %}

{% block title %}Unos Statistike Utakmice{% endblock %}

{% block body %}
  {% for mes in app.flashes('error') %}
        <div class="alert alert-danger poruka">
        {{mes}}
        </div>
        
   
    {% endfor %}
<div class="container">


{{form_start(form)}}

{{form_end(form)}}
</div>
{% endblock %}